Repository sqitchers/sqitch, pull requests merged in 2023-02, with the labels that each got.

#702 Print changes to be deployed or reverted.
  lib/App/Sqitch/Engine.pm
  t/engine.t
Labels: feature, engine, waiting

#703 Allow false separators in formatters
  lib/App/Sqitch/ItemFormatter.pm
  t/item_formatter.t
Labels: bug, waiting

#705 Add MySQL 5.7 support
  lib/sqitchtutorial-mysql.pod
Labels: documentation

#704 Refactor revert options
  lib/App/Sqitch/Command/checkout.pm
  lib/App/Sqitch/Command/rebase.pm
  lib/App/Sqitch/Command/revert.pm
  lib/App/Sqitch/Engine.pm
  t/checkout.t
  t/engine.t
  t/rebase.t
  t/revert.t
Labels: engine, refactor
